@keyframes continuousAppearance {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.ContinuousAppearance > .Container > .Content {
	opacity: 0;
	// animation: continuousAppearance 0.5s ease forwards;
}

// @for $i from 1 through 100 {
// 	.ContinuousAppearance > .Container > .Content:nth-child(#{$i}n) {
// 		animation-delay: #{$i * 0.3}s;
// 	}
// }
