@keyframes continuousAppearance {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.ContinuousAppearance > .Container > .Content {
	opacity: 0;
	text-align: center;
	min-width: 1vw;
}

.ContinuousAppearance > .Container {
	text-align: center;
	font-size: 4vw;
}
