@keyframes horizontalFlow {
	0% {
		transform: translateX(-100vw);
	}
	100% {
		transform: translateX(0);
	}
}

.HorizontalFlow > .Container > .Content {
	display: inline-block;
	min-width: 1vw;
	opacity: 1;
	transform: translateX(-100vw);
	text-align: center;
}

.HorizontalFlow > .Container {
	text-align: center;
	font-size: 4vw;
}
